In [1]:
import pandas as pd
import boto3

In [2]:
s3 = boto3.client('s3')

In [3]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='',
    aws_secret_access_key=''
)

In [4]:
for bucket in s3.buckets.all():
    print(bucket.name)

3july-test1
mybucket948903801
stock-prediction-data23

In [5]:
import os
os.environ["AWS_DEFAULT_REGION"] = 'us-east-2'
os.environ["AWS_ACCESS_KEY_ID"] = 'AKIA2NTYOWHPD2MYBOHU'
os.environ["AWS_SECRET_ACCESS_KEY"] = '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'

In [6]:
import yfinance as yf
import matplotlib.pyplot as plt
import datetime


symbols = ['AAPL', 'MSFT', 'GOOGL']
dfs = {symbol: pd.DataFrame(columns=['Close']) for symbol in symbols}

In [7]:
def fetch_and_process_data(symbol):
    end = datetime.datetime.now()
    data = yf.download(symbol,end=end,  interval='1m')
    data.set_index(pd.to_datetime(data.index), inplace=True)
    dfs[symbol] = pd.concat([data[['Close']]])
    print(f"{symbol}")
    print(dfs[symbol])

In [8]:
 for symbol in symbols:
        fetch_and_process_data(symbol)

[*********************100%***********************]  1 of 1 completed
AAPL
                                Close
Datetime
2023-07-05 09:30:00-04:00  191.979996
2023-07-05 09:31:00-04:00  192.330002
2023-07-05 09:32:00-04:00  192.520004
2023-07-05 09:33:00-04:00  192.529999
2023-07-05 09:34:00-04:00  192.190903
...                               ...
2023-07-10 15:55:00-04:00  188.589996
2023-07-10 15:56:00-04:00  188.514999
2023-07-10 15:57:00-04:00  188.520004
2023-07-10 15:58:00-04:00  188.491501
2023-07-10 15:59:00-04:00  188.630005

[1557 rows x 1 columns]
[*********************100%***********************]  1 of 1 completed
MSFT
                                Close
Datetime
2023-07-05 09:30:00-04:00  336.799988
2023-07-05 09:31:00-04:00  336.760010
2023-07-05 09:32:00-04:00  337.855011
2023-07-05 09:33:00-04:00  337.852203
2023-07-05 09:34:00-04:00  337.600006
...                               ...
2023-07-10 15:55:00-04:00  331.529999
2023-07-10 15:56:00-04:00  331.250000
2023-07-10 15:57:00-04:00  331.325012
2023-07-10 15:58:00-04:00  331.459991
2023-07-10 15:59:00-04:00  331.859985

[1556 rows x 1 columns]
[*********************100%***********************]  1 of 1 completed
GOOGL
                                Close
Datetime
2023-07-05 09:30:00-04:00  120.114998
2023-07-05 09:31:00-04:00  119.934998
2023-07-05 09:32:00-04:00  119.980003
2023-07-05 09:33:00-04:00  119.820000
2023-07-05 09:34:00-04:00  119.989998
...                               ...
2023-07-10 15:55:00-04:00  116.309998
2023-07-10 15:56:00-04:00  116.264999
2023-07-10 15:57:00-04:00  116.264999
2023-07-10 15:58:00-04:00  116.260002
2023-07-10 15:59:00-04:00  116.459999

[1555 rows x 1 columns]

In [9]:
for symbol in symbols:
    dfs[symbol].rename(columns={'Close': f'{symbol}_Close'}, inplace=True)
    dfs[symbol].to_csv(f"{symbol}.csv")
    print(dfs[symbol])

                           AAPL_Close
Datetime
2023-07-05 09:30:00-04:00  191.979996
2023-07-05 09:31:00-04:00  192.330002
2023-07-05 09:32:00-04:00  192.520004
2023-07-05 09:33:00-04:00  192.529999
2023-07-05 09:34:00-04:00  192.190903
...                               ...
2023-07-10 15:55:00-04:00  188.589996
2023-07-10 15:56:00-04:00  188.514999
2023-07-10 15:57:00-04:00  188.520004
2023-07-10 15:58:00-04:00  188.491501
2023-07-10 15:59:00-04:00  188.630005

[1557 rows x 1 columns]
                           MSFT_Close
Datetime
2023-07-05 09:30:00-04:00  336.799988
2023-07-05 09:31:00-04:00  336.760010
2023-07-05 09:32:00-04:00  337.855011
2023-07-05 09:33:00-04:00  337.852203
2023-07-05 09:34:00-04:00  337.600006
...                               ...
2023-07-10 15:55:00-04:00  331.529999
2023-07-10 15:56:00-04:00  331.250000
2023-07-10 15:57:00-04:00  331.325012
2023-07-10 15:58:00-04:00  331.459991
2023-07-10 15:59:00-04:00  331.859985

[1556 rows x 1 columns]
                           GOOGL_Close
Datetime
2023-07-05 09:30:00-04:00   120.114998
2023-07-05 09:31:00-04:00   119.934998
2023-07-05 09:32:00-04:00   119.980003
2023-07-05 09:33:00-04:00   119.820000
2023-07-05 09:34:00-04:00   119.989998
...                                ...
2023-07-10 15:55:00-04:00   116.309998
2023-07-10 15:56:00-04:00   116.264999
2023-07-10 15:57:00-04:00   116.264999
2023-07-10 15:58:00-04:00   116.260002
2023-07-10 15:59:00-04:00   116.459999

[1555 rows x 1 columns]

In [10]:
combined = None
for i in range(0,2):
    sym1 = symbols[i]
    sym2 = symbols[i+1]
    
    df1 = pd.read_csv(f'{sym1}.csv')
    df2 = pd.read_csv(f'{sym2}.csv')
    merged_df = df1.merge(df2, how="left")
    if combined is None:
        combined = merged_df
    else:
        combined = combined.merge(merged_df, how="left")
        
print(combined)

                       Datetime  AAPL_Close  MSFT_Close  GOOGL_Close
0     2023-07-05 09:30:00-04:00  191.979996  336.799988   120.114998
1     2023-07-05 09:31:00-04:00  192.330002  336.760010   119.934998
2     2023-07-05 09:32:00-04:00  192.520004  337.855011   119.980003
3     2023-07-05 09:33:00-04:00  192.529999  337.852203   119.820000
4     2023-07-05 09:34:00-04:00  192.190903  337.600006   119.989998
...                         ...         ...         ...          ...
1552  2023-07-10 15:55:00-04:00  188.589996  331.529999   116.309998
1553  2023-07-10 15:56:00-04:00  188.514999  331.250000   116.264999
1554  2023-07-10 15:57:00-04:00  188.520004  331.325012   116.264999
1555  2023-07-10 15:58:00-04:00  188.491501  331.459991   116.260002
1556  2023-07-10 15:59:00-04:00  188.630005  331.859985   116.459999

[1557 rows x 4 columns]

In [11]:
combined.to_csv('combined_streaming-data.csv')

In [12]:
s3.Bucket('stock-prediction-data23').upload_file(Filename="combined_streaming-data.csv", Key="combined-streaming-data.csv")

In [13]:
s3.Bucket('stock-prediction-data23').objects.all()

s3.Bucket.objectsCollection(s3.Bucket(name='stock-prediction-data23'), s3.ObjectSummary)